# Exploring World Bank Data

## Questions:
1)Compare economic trends of least developed, rapidly developing and developed countries
    Least Developed: Nepal, Rwanda, Bangladesh, Haiti
    Rapidly Developing: China, Brazil, India, Nigeria
    Developed: Germany, Luxemburg, USA, South Korea

2) Correlate following things with economic prosperity:
    Women Empowerment (positive expected)
    Literacy Rate

3) Find what is most strongly correlated with development

In [1]:
import wbdata
import pandas as pd
import datetime

iEcon = {'EF.EFM.RANK.XD':'Economic Fitness Ranking', 'DP.DOD.DECT.CR.CG.Z1':'Gross Central Government Debt','NE.EXP.GNFS.ZS':'Exports of Goods and Services', 'GC.XPN.TOTL.GD.ZS': 'Expense', '6.0.GDP_current': 'GDP', '6.0.GDPpc_constant': 'GDP per capita', '5.51.01.10.gdp': 'GDP per capita growth', '6.0.GNIpc': 'GNI per capita', 'NE.IMP.GNFS.ZS': 'Imports', 'BX.TRF.PWKR.GD.ZS': 'Workers Remittance'}#,'BX.TRF.PWKR.DT.GD.ZS':'Personal remittance' } 
cUndeveloped = ['NPL', 'RWA', 'BGD', 'HTI'] # Nepal, Rwanda, Bangladesh, Haiti 
cDeveloping = ['CHN', 'IND', 'BRA', 'NGA'] # China, India, Brazil, Nigeria
cDeveloped = ['USA', 'DEU', 'LUX', 'JPN'] # USA, Germany, Luxembourg, Japan
cAll = ['NPL', 'RWA', 'BGD', 'HTI','CHN', 'IND', 'BRA', 'NGA','USA', 'DEU', 'LUX', 'JPN']
date_range = (datetime.datetime(1995, 1, 1), datetime.datetime(2017, 1, 1))
years = [str(i) for i in range(1995,2018)]

df_Econ = wbdata.get_dataframe(iEcon, country=cAll, data_date = date_range,  convert_date=False) #getting the required indicators
dfu_Econ = df_Econ.unstack(level=0) #Unstacking the columns by countries
dfu_Econ = dfu_Econ[dfu_Econ.index.isin(years)] #NEED TO DO: Use date time as index and resample by year #Removing the quarterly data and get just the required years

In [3]:
dfu_Econ.head()

     Economic Fitness Ranking                                              \
                            2 Bangladesh Brazil China Germany Haiti India
1995                      NaN       85.0   25.0  13.0     1.0   NaN  16.0
1996                      NaN       89.0   25.0  13.0     1.0   NaN  17.0
1997                      NaN       93.0   30.0  10.0     1.0   NaN  15.0
1998                      NaN       93.0   27.0  13.0     1.0   NaN  15.0
1999                      NaN      100.0   29.0  11.0     1.0   NaN  14.0

                                  ...      Workers Remittance                \
     Japan Luxembourg  Nepal      ...                   China Germany Haiti
1995   3.0        NaN   92.0      ...                     NaN     NaN   NaN
1996   2.0        NaN  100.0      ...                     NaN     NaN   NaN
1997   3.0        NaN   92.0      ...                     NaN     NaN   NaN
1998   3.0        NaN   81.0      ...                     NaN     NaN   NaN
1999   3.0        NaN   80.0      ...                     NaN     NaN   NaN


     India Japan Luxembourg Nepal Nigeria Rwanda United States
1995   NaN   NaN        NaN   NaN     NaN    NaN           NaN
1996   NaN   NaN        NaN   NaN     NaN    NaN           NaN
1997   NaN   NaN        NaN   NaN     NaN    NaN           NaN
1998   NaN   NaN        NaN   NaN     NaN    NaN           NaN
1999   NaN   NaN        NaN   NaN     NaN    NaN           NaN

[5 rows x 130 columns]